<%

@posts.each do |node|
  item = node['data']

%>
    <div style="background-color:#ccc;">
      <%#= node %>
      <a href="<%= item['url'] %>"><%= item['title']%></a>
      <br>
      Posted by: <%= item['author'] %>
    </div>
    <hr>
<% end %>