<!DOCTYPE html>
<html>
  <head>
    <title>Dark Roast - Your morning news</title>
    
  </head>
  <body>
    <h1><a href="/">Dark Roast - Classy Links for classy people</a></h1>
    <%= yield %>
  </body>
</html>